<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="org.springframework.study.dto.User">
		<property name="name" value="小明"></property>
		<property name="age" value="10"></property>
		<property name="address" value="北京市大兴区亦庄经济开发区"></property>
	</bean>

</beans>