<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="org.springframework.study.dto.User">
		<property name="name" value="小明"></property>
		<property name="age" value="10"></property>
		<property name="address" value="北京市大兴区亦庄经济开发区"></property>
	</bean>

	<bean id="factoryUser" class="org.springframework.study.factory.UserFactoryBean"></bean>

	<!--根据类型自动装配-->
<!--	<bean id="userController" class="org.springframework.study.auto.controller.UserController"-->
<!--		  autowire="byType"></bean>-->

<!--	<bean id="userService" class="org.springframework.study.auto.service.UserServiceImpl"-->
<!--		  autowire="byType"></bean>-->

<!--	<bean id="userDao" class="org.springframework.study.auto.dao.UserDaoImpl"-->
<!--		  autowire="byType"></bean>-->

	<!--根据名称自动装配-->
	<bean id="userController" class="org.springframework.study.auto.controller.UserController"
		  autowire="byName"></bean>

	<bean id="userService" class="org.springframework.study.auto.service.UserServiceImpl"
		  autowire="byName"></bean>

	<bean id="userDao" class="org.springframework.study.auto.dao.UserDaoImpl"
		  autowire="byName"></bean>

</beans>